body {
    padding-top: 70px;
}

.mu-panel-body {
    padding: 0;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mypage {
    text-align: center;
}
.btn{
	margin-left: 4px;
}
.btn-save {
  float: right;
  margin-bottom: 30px;
}