* {
    margin: 0;
    padding: 0;
}

input,
button {
    border: none;
}

div {
    width: 265px;
    height: 100px;
    margin: 50px auto;
}

label{
    display: inline-block;
    font-size: 16px;
    height: 27px;
    line-height: 27px;
}

input {
    width: 120px;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
    border: 1px solid #f0ec00;
}

button {
    width: 80px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #FFF;
    background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00));
}

span {
    display: block;
    margin-top: 15px;
}

span strong {
    color: #f00;
}
