html,
body,
h1,
h3,
ul,
li,
dl,
dt,
dd,
div,
img,
a {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", "Microsoft 微软雅黑", "黑体", "Arial normal", "宋体", sans-serif;
}

body,
button,
input,
select,
textarea {
    font: 12px arial;
}

#wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#wrapper .skin-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    background: #fff url(../images/1.jpg) no-repeat center 0/cover;
}


/*头部*/

#head {
    height: 32px;
    width: 100%;
    min-width: 1000px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 25, 50, .3)), to(rgba(15, 25, 50, .3)));
    background-image: -moz-linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
    background-image: -ms-linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
    background-image: -o-linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
    background-image: linear-gradient(rgba(15, 25, 50, .3) 0, rgba(15, 25, 50, .3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#330f1);
}

#head .s-upfunc-menus {
    float: left;
    margin: 7px 0 0 15px;
}

#head .s-upfunc-menus > a {
    text-decoration: none;
    overflow: hidden;
    display: block;
    float: left;
}

#head .s-upfunc-menus .s-weather-wrapper {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    float: left;
    height: 24px;
}

#head .s-upfunc-menus .s-weather-wrapper .city {
    /*city*/
}

#head .s-upfunc-menus .s-weather-wrapper .weather-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(../images/weather/icon/a18.png);
}

#head .s-upfunc-menus .s-weather-wrapper .temperature {
    vertical-align: top;
    margin-right: 9px;
}

#head .s-upfunc-menus .s-weather-wrapper .pollute {
    color: #ff7e00;
    font-weight: bold;
    vertical-align: top;
    margin-right: 7px;
}

#head .s-upfunc-menus .s-weather-wrapper .aqi {
    vertical-align: top;
    margin-right: 7px;
}

#head .s-upfunc-menus .s-weather-main-wrapper {
    position: absolute;
    top: 12px;
    left: 0px;
    margin-top: 20px;
    width: 585px;
    height: 200px;
    z-index: 100;
    background: #fff;
    display: none;
}

.s-weather-main-wrapper .lunar-mod {
    height: 40px;
    width: 547px;
    margin: 0 auto;
    border-bottom: #efefef 1px solid;
    overflow: hidden;
}

.s-weather-main-wrapper .lunar-mod > span {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 12px;
}

.s-weather-main-wrapper .lunar-mod > span.lunar-festival {
    color: #999;
    margin-left: 6px;
}

.s-weather-main-wrapper .lunar-mod > span.lunar-sevenday {
    margin-left: 18px;
}

.s-weather-main-wrapper .lunar-mod > span.lunar-sevenday a {
    color: #0079f4;
    text-decoration: none;
}

.s-weather-main-wrapper .lunar-mod > span.lunar-sevenday a:hover {
    text-decoration: underline;
}

.everyday-mod > div {
    float: left;
    width: 105px;
}

.everyday-mod > div * {
    display: block;
}

.everyday-mod > div > a {
    text-decoration: none;
    text-align: center;
}

.everyday-mod > div > a:hover span {
    color: #0079f4;
}

.everyday-mod > div > a > img {
    width: 48px;
    height: 48px;
    margin: 0 auto 4px;
    border: none;
}

.everyday-mod > div > a > span {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}

.everyday-mod > div .everyday-title {
    height: 34px;
    line-height: 34px;
}

.everyday-mod > div.today {
    width: 161px;
}

.everyday-mod > div.today span {
    font-weight: bold;
}

.s-weather-main-wrapper > .bdnuarrow {
    left: 15%;
    top: -9px;
}

#head .s-upfunc-menus .vertical {
    margin-right: 11px;
    color: #fff;
    vertical-align: bottom;
    line-height: 20px;
    display: block;
    float: left;
}

#head .s-upfunc-menus .s-icons {
    float: left;
}

#head .s-upfunc-menus .s-icons a {
    color: #fff;
    line-height: 20px;
    margin-right: 19px;
}

#head .s-sp-menu {
    float: right;
}

#head .s-sp-menu a {
    font-weight: bold;
    color: #fff;
    line-height: 32px;
    margin-left: 19px;
    font-size: 13px;
}

#head .s-sp-menu a.more {
    display: inline-block;
    width: 86px;
    height: 32px;
    background: #398bfb;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}

#head .s-sp-menu a span {
    font-weight: normal;
}

#vipmenu {
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    position: absolute;
    right: 140px;
    top: 32px;
    box-shadow: 1px 1px 5px #d1d1d1;
    -webkit-box-shadow: 1px 1px 5px #d1d1d1;
    display: none;
}


/*设置菜单*/

#setmenu {
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    position: absolute;
    right: 84px;
    top: 32px;
    box-shadow: 1px 1px 5px #d1d1d1;
    -webkit-box-shadow: 1px 1px 5px #d1d1d1;
    display: none;
}

.bdnuarrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
}

.bdnuarrow em,
.bdnuarrow i {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
}

.bdnuarrow em {
    border-bottom-color: #d8d8d8;
    top: -1px;
}

.bdnuarrow i {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
}

.bdnuarrow i {
    border-bottom-color: #fff;
    top: 0;
}

#setmenu a:link,
#setmenu a:visited,
#vipmenu a:link,
#vipmenu a:visited {
    background: white;
    color: #333;
}

#setmenu a,
#vipmenu a {
    display: block;
    text-align: left;
    margin: 0!important;
    padding: 0 9px;
    line-height: 26px;
    text-decoration: none;
}

#setmenu a:hover,
#setmenu a:active,
#vipmenu a:hover,
#vipmenu a:active {
    background: #38f none repeat scroll 0 0;
    color: white;
    text-decoration: none;
}


/*更多产品*/

#bdbri {
    width: 85px;
    min-height: 100px;
    border-left: 1px solid #e7e7e7;
    position: absolute;
    background-color: #f9f9f9;
    overflow: hidden;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
}

.bdbriimgtitle {
    color: #333;
    text-align: center;
    width: 66px;
    height: 43px;
    line-height: 43px;
    margin: 4px auto 0;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    cursor: default;
}

.briscrollwrapper {
    overflow: hidden;
    height: 555px;
}

#bdbri .bdmainlink a:visited,
#bdbri .bdothlink a:visited {
    color: #666;
}

#bdbri .bdmainlink a,
#wrapper #bdbri .bdothlink a {
    display: block;
    text-align: center;
    width: 66px;
    height: 76px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    color: #666;
    text-decoration: none;
    overflow: hidden;
}

#bdbri span {
    width: 36px;
    height: 36px;
    display: block;
    margin: 10px auto 5px;
    background: url(../images/bdbri_icons.png) no-repeat;
    cursor: pointer;
}

#bdbri span.bdbriimgitem_1 {
    background-position: 0 0;
}

#bdbri span.bdbriimgitem_2 {
    background-position: -36px 0;
}

#bdbri span.bdbriimgitem_3 {
    width: 40px;
    background-position: -72px 0;
}

#bdbri span.bdbriimgitem_4 {
    background-position: -112px 0;
}

#bdbri span.bdbriimgitem_5 {
    background-position: -148px 0;
}

#bdbri span.bdbriimgitem_6 {
    background-position: -184px 0;
}

#bdbri span.bdbriimgitem_7 {
    background-position: -220px 0;
}

#bdbri .bdbrievenmore {
    margin-top: 15px;
    height: 30px;
    width: 85px;
    overflow: hidden;
}

#bdbri .bdmainlink a:hover,
#bdbri .bdmainlink a:active {
    color: #666;
    text-decoration: underline;
}


/*搜索区*/

#s_form {
    height: 38.2%;
    min-height: 293px;
    width: 1000px;
    margin: 10px auto;
}

#s_form .s_form {
    width: 641px;
    margin: 0 auto;
    min-height: 293px;
}

#s_form .s_form .logo {
    display: block;
    width: 279px;
    height: 129px;
    background: transparent url(../images/logo.png) no-repeat 0 0/cover;
    text-indent: -9999px;
    margin: 10px auto;
}

#s_form .s_form form {
    display: block;
    width: 641px;
    height: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

#s_form .s_form form input[type='text'] {
    float: left;
    width: 537px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    border: 0;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding-left: 7px;
    padding-right: 9px;
    font: 16px arial;
    box-sizing: border-box;
}

#s_form .s_form form input[type='button'] {
    border: 0;
    outline: 0;
    height: 40px;
    line-height: 40px;
    width: 104px;
    font-size: 16px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-image: url('../images/skin_dark_aab96bcc.png');
    background-position: -206px 0;
    cursor: pointer;
}


/*新闻框*/

#s_wrap {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#s_wrap .s_main {
    width: 895px;
    height: 405px;
    margin: 0 auto;
    position: relative;
}

#s_wrap .s_main .quickbar {
    height: 90px;
    position: absolute;
    bottom: 0;
    left: -22px;
    line-height: 13px;
    text-align: center;
    background: #2F3444;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

#s_wrap .s_main .quickbar > span {
    display: block;
    width: 22px;
    padding-top: 21px;
    float: left;
}

#s_wrap .s_main .quickbar .play-wrapper {
    float: left;
    width: 0;
    overflow: hidden;
    position: relative;
}

#s_wrap .s_main .quickbar .play-wrapper .p-img {
    float: left;
}

#s_wrap .s_main .quickbar .play-wrapper .p-img:hover a {
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
}

#s_wrap .s_main .quickbar .play-wrapper .p-img > a {
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    display: block;
    width: 43px;
    height: 43px;
    background: url(../images/music_7d649ba7.png) no-repeat 0 0;
    background-position: -2px -3px;
    position: absolute;
    top: 22px;
    left: 22px;
    opacity: .8;
    filter: alpha(opacity=80);
}

#s_wrap .s_main .quickbar .play-wrapper .p-img > img {
    width: 86px;
    height: 86px;
    border: 2px solid #2F3444;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area {
    float: left;
    overflow: hidden;
    width: 550px;
    text-align: left;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel {
    overflow: hidden;
    position: relative;
    margin: 14px 0 0 20px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-chanel-btn {
    width: 31px;
    z-index: 2;
    color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
    display: block;
    width: 31px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    float: left;
}

.p-chanel .p-chanel-btn:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-chanel-bg {
    position: absolute;
    background: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: .4;
    filter: alpha(opacity=40);
    display: block;
    width: 31px;
    height: 15px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .change-txt {
    float: left;
    color: #fff;
    margin-left: 6px;
    display: block;
    height: 15px;
    line-height: 15px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos {
    float: right;
    margin-right: 6px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos > span {
    text-indent: -9999px;
    background: url(../images/music_7d649ba7.png) no-repeat 0 0;
    opacity: .8;
    filter: alpha(opacity=80);
    width: 10px;
    height: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos > span.share-btn {
    background-position: -164px -18px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos > span.lrc-btn {
    background-position: -147px -33px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos > span.quality-btn {
    background-position: -148px -16px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos > span.p-btn {
    height: 11px;
    background-position: -168px -68px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-chanel .p-icos > span.bdmu-btn {
    width: 13px;
    background-position: -162px -2px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-songinfo {
    margin: 8px 4px 0 20px;
    color: #fff;
    opacity: .8;
    filter: alpha(opacity=80);
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .song-name {
    font-size: 15px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .sep {
    font-size: 15px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .song-author {
    font-size: 12px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-close-btn {
    float: right;
    margin-right: 1px;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 12px;
    background: url(../images/music_7d649ba7.png) no-repeat 0 0;
    background-position: -129px -1px;
    text-decoration: none;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress {
    margin: 6px 4px 0 20px;
    overflow: hidden;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span {
    display: block;
    float: left;
    text-indent: -9999px;
    width: 19px;
    height: 18px;
    background: url(../images/music_7d649ba7.png) no-repeat 0 0;
    opacity: .8;
    filter: alpha(opacity=80);
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span.p-prev-btn {
    background-position: -98px 0;
    width: 10px;
    height: 13px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span.p-next-btn {
    background-position: -111px 0;
    width: 13px;
    height: 13px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > .p-progress {
    height: 1px;
    width: 264px;
    background: #fff;
    margin: 5px 3px 0 5px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span.p-switch-btn {
    background-position: -96px -14px;
    margin-left:14px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span.p-collect-btn {
    background-position: -114px -52px;
    margin-left: 8px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span.p-delete-btn {
    background-position: -97px -73px;
    margin-left: 8px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > span.p-volume-btn {
    background-position: -116px -74px;
    margin-left: 8px;
}

#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-time{
    margin-left: 20px;
    color: #fff;
    font-size: 10px;
}
#s_wrap .s_main .quickbar .play-wrapper .p-main-area .p-time .time-total{
        margin-left: 250px;
}
#s_wrap .s_main .quickbar .play-wrapper .p-main-area .progress > .p-progress {
    float: left;
}

#s_wrap .s_main .s_ctner_menus {
    width: 100%;
    height: 39px;
    color: #333;
    border-bottom: 1px solid #e9e9e9;
    border-color: rgba(226, 226, 226, .6);
    text-align: left;
    font-size: 14px;
}

#s_wrap .s_main .bg3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, .3)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .3) 100%);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .3) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .3) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .3) 100%);
}

#s_wrap .s_main .bg1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .1)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%);
}

#s_wrap .s_main .s_ctner_menus ul {
    list-style: none;
    display: block;
    float: left;
    overflow: hidden;
}

#s_wrap .s_main .s_ctner_menus ul li {
    float: left;
    height: 39px;
    width: 80px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}

#s_wrap .s_main .s_ctner_menus ul li.on {
    font-weight: bold;
}

#s_wrap .s_main .s_ctner_menus ul li.attention {
    width: 124px;
}

#s_wrap .s_main .s_ctner_menus ul li.attention span {
    display: block;
    float: left;
}

#s_wrap .s_main .s_ctner_menus ul li.attention span.member {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    background: url(../images/card_setts_fdb17359.png) no-repeat -15px 0;
}

#s_wrap .s_main .s_ctner_menus ul li.attention.on span.member {
    background-position: -46px -55px;
}

#s_wrap .s_main .s_ctner_menus .patch {
    width: 451px;
    float: left;
    overflow: hidden;
}

#s_wrap .s_main .s_ctner_menus .patch .setting {
    float: right;
    display: block;
    width: 18px;
    height: 18px;
    margin: 11px 21px 10px 0;
    text-indent: -9999px;
    background: url(../images/card_setts_fdb17359.png) no-repeat -121px -49px;
    cursor: pointer;
}

#s_wrap .s_main .s_ctner_menus .patch .setting:hover {
    background-position: -121px -73px;
}

#s_wrap .s_main .xiaodu {
    display: block;
    width: 64px;
    height: 84px;
    position: absolute;
    top: 34px;
    right: -52px;
    background: url(../images/xiaodu1.png) no-repeat;
    text-indent: -9999px;
    text-decoration: none;
    outline: 0;
}

#s_wrap .s_main .xiaodu:hover {
    background: url(../images/xiaodu2.png) no-repeat;
    right: -74px;
    width: 74px;
    height: 96px;
}

#s_wrap .s_main .s_ctner_main {
    min-height: 365px;
    height: auto;
    overflow: hidden;
}

#s_wrap .s_main .s_ctner_main .main-content {
    display: block;
    list-style: none;
    clear: both;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list {
    display: none;
    min-height: 365px;
    height: auto;
    padding: 14px 25px 0;
}

#s_wrap .s_main .s_ctner_main .main-content .current {
    display: block;
    padding: 20px 0 0 14px;
}

#s_wrap .s_main .s_ctner_main .main-content .s-container {
    display: block;
    width: 844px;
    /*height: 30px;*/
    margin: 13px auto 10px;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container .title-content {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(240, 240, 240, .5);
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container .title-content .mine-title-icon {
    margin-right: 6px;
    width: 10px;
    height: 10px;
    position: relative;
    float: left;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container .title-content .mine-title-icon i {
    position: absolute;
    top: 12px;
    left: 0;
    border: 5px dashed transparent;
    border-top: 5px solid #666;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container .title-content .s-title {
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container .title-content .mine-title-num {
    font-size: 14px;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container ul.urls {
    list-style: none;
    overflow: hidden;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container ul.urls li {
    display: block;
    height: 41px;
    width: 158px;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(240, 240, 240, .3);
    float: left;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container ul.urls li a {
    text-decoration: none;
    outline: 0;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #000;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container ul.urls li a img {
    margin: 12px 0 0 15px;
    width: 16px;
    height: 16px;
    float: left;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .s-container ul.urls li a span {
    float: left;
    display: block;
    height: 40px;
    line-height: 41px;
    margin-left: 5px;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .rect {
    display: none;
    z-index: 100;
    width: 57px;
    height: 32px;
    background: url(../images/more_up_bg.png) no-repeat;
}

#s_wrap .s_main .s_ctner_main .main-content .s-main-list .rect .animate-arrow {
    position: relative;
    display: block;
    height: 13px;
    width: 22px;
    margin: 0 auto 0 auto;
    top: 10px;
    background: url(../images/card_setts_fdb17359.png) no-repeat -114px -2px;
    _background: url(../images/card_setts_ie_57e87032.png) no-repeat -114px -2px;
    font-size: 0;
}


/*推荐开始*/

.rec-content {
    position: relative;
}

.recommend-left {
    width: 538px;
    height: auto;
    vertical-align: middle;
}

.rec-list-box {
    width: 538px;
    border-top: 1px solid;
    border-color: rgba(226, 226, 226, .5) !important;
}

.rec-h-box {
    margin: 10px 20px 0 0;
    width: 335px;
    display: inline-block;
}

.recommend-left h2 {
    vertical-align: top;
    font-size: 18px;
}

.recommend-left h2 span {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    background: url(../images/news_7dd96f5d.png) -20px -100px no-repeat;
}

.recommend-left .rec-img {
    display: inline-block;
    vertical-align: middle;
}

.recommend-left .rec-img li {
    display: inline-block;
    position: relative;
}

.from {
    color: rgba(0, 0, 0, 0.5);
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    margin: 12px 0;
}

.from .src-net {
    margin-right: 10px;
}

.from .src-net a:link,
.from .src-net a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.from .src-net a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.recommend-right {
    position: absolute;
    right: 0;
    top: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
}

.recommend-right > ul {
    margin-top: 8px;
    overflow: hidden;
}

.refresh {
    overflow: hidden;
}

.refresh a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.hotwords-title {
    float: left;
    display: inline-block;
}

a.refresh-word {
    font-size: 13px;
    text-align: left;
    display: inline-block;
    font-weight: normal;
    float: right;
    margin-right: 25px;
}

a.refresh-word:hover {
    color: #07f;
    font-size: 13px;
}

.refresh-icon {
    width: 20px;
    height: 16px;
    background: url(../images/news_7dd96f5d.png) -23px -25px no-repeat;
    _background: url(../images/news_7dd96f5d.png) -23px -25px no-repeat;
    vertical-align: bottom;
    display: inline-block;
}

.rec-news-list li {
    overflow: hidden;
    zoom: 1;
    width: 135px;
    margin-right: 10px;
    display: block;
    list-style: square;
    font-size: 14px;
    float: left;
    height: 34px;
    line-height: 34px;
}

.rec-news-list li .square-dot {
    height: 3px;
    width: 3px;
    background: #666;
    text-align: center;
    margin-right: 3px;
    font-size: 0;
    display: inline-block;
    float: left;
    margin-top: 15px;
}

.rec-news-list li .rec-news-title {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
    float: left;
    font-size: 14px;
}

.rec-news-list li .rec-news-icon {
    height: 20px;
    width: 17px;
    margin-top: 7px;
    display: inline-block;
    float: left;
    background: url(../images/news_7dd96f5d.png) 0 -98px no-repeat;
    _background: url(../images/news_7dd96f5d.png) 0 -98px no-repeat;
}

.rec-news-list li a.rec-news-title {
    color: #333;
    text-decoration: none;
}

.rec-news-list li a.rec-news-title:hover {
    text-decoration: underline;
    color: #07f;
}


/*推荐结束*/


/*导航开始*/

.nav-box {
    width: 868px;
    /*height: 328px;*/
    height: auto;
    min-height: 328px;
    padding: 13px 0 0 25px;
    overflow: hidden;
}

.nav-box .nav-title {
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.nav-box .nav-title2 {
    padding-top: 25px;
    clear: both;
    overflow: hidden;
}

.nav-box > ul {
    overflow: hidden;
}

.nav-list {
    height: 58px;
    line-height: 58px;
    width: 126px;
    background: #FFF;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 15px;
    float: left;
}

.nav-list a:link,
.nav-list a:visited {
    color: #333;
    text-decoration: none;
}


/*导航结束*/


/*视频开始*/

.video-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(240, 240, 240, .5) !important;
}

.video-littlebox {
    width: 195px;
    height: 100px;
}

.video-item-box {
    float: left;
    width: 195px;
    height: 320px;
    margin-bottom: 25px;
    margin-left: 20px;
    overflow: hidden;
}

.video-content {
    position: relative;
}

.distance {
    margin-left: 5px;
}

.black {
    position: absolute;
    text-align: right;
    color: #FFF;
    text-decoration: none;
    height: 40px;
    line-height: 50px;
    width: 195px;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
    overflow: hidden;
}

.video-bg01 {
    overflow: hidden;
    width: 195px;
    height: 270px;
    display: block;
    -moz-transition: transform .3s;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    -webkit-transition: transform .3s;
    backface-visibility: hidden;
}

.video-bg03 {
    height: 100px;
}

.black span {
    margin-right: 5px;
}

.video-type-icon {
    width: 42px;
    height: 42px;
    display: block;
    background-image: url(../images/video01.png);
    background-position: -126px 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.intereste-icon,
.hate-icon {
    width: 18px;
    height: 18px;
    display: block;
    z-index: 1;
    display: none;
}

.intereste-icon {
    position: absolute;
    right: 28px;
    top: 5px;
    background: url(../images/video02.png) no-repeat;
    _background: url(../images/video02.png) no-repeat;
    background-position: -4px -2px;
}

.hate-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../images/video02.png) no-repeat;
    _background: url(../images/video02.png) no-repeat;
    background-position: -48px -2px;
}

.video-text-box {
    height: 49px;
    width: 175px;
    overflow: hidden;
    padding: 0 9px;
    font-size: 13px;
    color: #999;
    display: inline-block;
    text-decoration: none;
    zoom: 1;
    background: #F5F5F5;
    border: 1px solid #F1F1F1;
    border-top: none;
    border-color: rgba(240, 240, 240, .5) !important;
    background: none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, .5)), to(rgba(243, 243, 243, .5))) !important;
    background-image: -moz-linear-gradient(rgba(243, 243, 243, .5) 0, rgba(243, 243, 243, .5) 100%) !important;
    background-image: -ms-linear-gradient(rgba(243, 243, 243, .5) 0, rgba(243, 243, 243, .5) 100%) !important;
    background-image: -o-linear-gradient(rgba(243, 243, 243, .5) 0, rgba(243, 243, 243, .5) 100%) !important;
    background-image: linear-gradient(rgba(243, 243, 243, .5) 0, rgba(243, 243, 243, .5) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#80f3f3f3, endColorstr=#80f3f3f3) !important;
}

.video-text-title a {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    max-width: 195px;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-text-title a:hover {
    color: #07f;
    text-decoration: underline;
}

.star-active {
    display: inline-block;
    background-repeat: repeat-x;
    height: 13px;
    width: 65px;
    background-image: url(../images/star.png);
    _background-image: url(../images/star.png);
    background-position: 0 -13px;
    background-repeat: repeat-x;
    vertical-align: middle;
    margin-bottom: 4px;
    position: relative;
    margin-right: 5px;
}

.video-rtxt-title a {
    font-size: 13px;
    line-height: 21px;
    color: #333;
    max-width: 195px;
    display: inline-block;
    text-align: left;
    margin-top: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.video-rtxt-title a:hover {
    color: #07f;
    text-decoration: underline;
}

.videos {
    margin-top: 16px;
}


/*视频结束*/


/*购物开始*/

.shopping-box {
    width: 879px;
    height: 361px;
    padding-left: 14px;
    overflow: hidden;
}

.shopping-box li {
    margin: 20px 0 0 10px;
    width: 202px;
    float: left;
    position: relative;
}

.mask {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 192px;
    cursor: pointer;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    display: block;
    color: #FFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 100%);
}

.shopping-box li dl {
    float: left;
    width: 202px;
    margin-top: 7px;
}

.shop-con-title dt {
    float: left;
}

.shop-con-title dd {
    float: right;
    margin-right: 10px;
}

.shop-con-title dt a:link,
.shop-con-title dt a:visited {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.shop-con-title dt a:hover {
    color: #077fff;
    text-decoration: underline;
}

.shop-con-title dd {
    color: #e00;
    font-size: 18px;
    font-family: "arial"
}


/*购物结束*/

#footer {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    color: #FFF;
    font-size: 12px;
}

#footer a {
    color: #FFF;
}

.sethome {
    margin-right: 12px;
}

.copy-icon {
    margin-top: 5px;
    margin-left: 3px;
}
